
h1{
    font-family: "Didot";
}

h2{
    font-family: "Didot";
}

h3{
    font-family: "Avenir";
    font-size: 30px;
}

p{
    font-family: "Avenir";
}

/*Navigation*/
.navbar-brand img{
    width: 50px;
    margin-left: 30px;
}

.navbar li img{
    width: 20px;
}

.navbar li{
    display: flex;
    align-items: center;
    font-family: "Avenir";
    padding-left: 20px;
    padding-right:20px;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.collapse{
    display: flex;
    justify-content: center;
}

.nav-link{
    color: black !important;
    text-decoration: none;
    font-size: 15px;
}

.active .nav-link{
    color: #F2579A !important;
}

.nav-link:hover{
    color: #F2579A !important;
}

/* Add to cart */
#cd-cart {
    position: fixed;
    top: 300;
    right: -100%;
    height: 100%;
    width: 400px;
    background-color: white;
    z-index: 5;
  
    /* header height */
    padding-top: 0px;
  
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  
    transition: right 0.3s;
  }
  
  #cd-cart.speed-in {
    right: 0;
  }
  
  
  #cd-cart > * {
    padding: 0 1em;
  }
  #cd-cart h2 {
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1em 0;
  }
  #cd-cart .cd-cart-items {
    padding: 0;
  }
  #cd-cart .cd-cart-items li {
    position: relative;
    padding: 1em;
    border-top: 1px solid #e0e6ef;
  }
  #cd-cart .cd-cart-items li:last-child {
    border-bottom: 1px solid #e0e6ef;
  }
  #cd-cart .cd-qty, #cd-cart .cd-price {
    color: #a5aebc;
  }
  #cd-cart .cd-price {
    margin-top: .4em;
  }
  #cd-cart .cd-item-remove {
    position: absolute;
    right: 1em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: url("../img/cd-remove-item.svg") no-repeat center center;
  }
  .no-touch #cd-cart .cd-item-remove:hover {
    background-color: #e0e6ef;
  }
  #cd-cart .cd-cart-total {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  #cd-cart .cd-cart-total span {
    float: right;
  }
  #cd-cart .cd-cart-total::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
  }
  #cd-cart .checkout-btn {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #FCC0D4;
    color: #FFF;
    text-align: center;
  }
  .no-touch #cd-cart .checkout-btn:hover {
    background: #FCC0D4;
  }
  #cd-cart .cd-go-to-cart {
    text-align: center;
    margin: 1em 0;
  }
  #cd-cart .cd-go-to-cart a {
    text-decoration: underline;
  }
  @media only screen and (min-width: 1200px) {
    #cd-cart > * {
      padding: 0 2em;
    }
    #cd-cart .cd-cart-items li {
      padding: 1em 2em;
    }
    #cd-cart .cd-item-remove {
      right: 2em;
    }
  }
  
  /* -------------------------------- 
  
  xgallery 
  
  -------------------------------- */
  main {
    position: relative;
    min-height: 100%;
    background: #eeeff7;
    padding-top: 70px;
    z-index: 1;
  }
  @media only screen and (min-width: 768px) {
    main {
      padding-top: 90px;
    }
  }
  @media only screen and (min-width: 1200px) {
    main {
      padding-top: 120px;
    }
  }
  
  #cd-gallery-items li {
    margin-bottom: 1.5em;
  }
  #cd-gallery-items li img {
    width: 100%;
    display: block;
    border-radius: 0.25em;
  }
  @media only screen and (min-width: 768px) {
    #cd-gallery-items li {
      width: 48%;
      float: left;
      margin-bottom: 2em;
      margin-right: 4%;
    }
    #cd-gallery-items li:nth-child(2n) {
      margin-right: 0;
    }
  }
  @media only screen and (min-width: 1200px) {
    #cd-gallery-items li {
      width: 31%;
      float: left;
      margin-bottom: 2.5em;
      margin-right: 3.5%;
    }
    #cd-gallery-items li:nth-child(2n) {
      margin-right: 3.5%;
    }
    #cd-gallery-items li:nth-child(3n) {
      margin-right: 0;
    }
  }
  
  /*
  #cd-shadow-layer {
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(67, 87, 121, 0.6);
    cursor: pointer;
    z-index: 2;
    display: none;
  }
  #cd-shadow-layer.is-visible {
    display: block;
    -webkit-animation: cd-fade-in 0.3s;
    -moz-animation: cd-fade-in 0.3s;
    animation: cd-fade-in 0.3s;
  }
  
  
  -------------------------------- 
  
  xkeyframes 
  
  -------------------------------- */
  @-webkit-keyframes cd-fade-in {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes cd-fade-in {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  @keyframes cd-fade-in {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }


/*Jumbotron*/
.jumbotron{
    background-image: url("../images/roythomsonhall.webp");
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 400px;
}

.jumbotext{
    width: 700px;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 300px;
}

.jumbotext p{
    margin: auto;
    width: 80%;
    font-size: 16px;
}

.jumbotron .btn{
    color: white;
    border-radius: 0px;
    border-color: white;
    background-color: black;
}

/*Location Hours*/
.locationhours{
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
}

.location{
    width: 50%;
}

.location img{
    height: 200px;
}

.days p{
    font-weight: bold;
}

.special{
    color: #F2579A;
}

.call h3{
    font-size: 25px;
}

.phonenumbers{
    width: 900px;
    margin: auto;
}

.phone{
    display: flex;
    justify-content: space-between;
}

.number{
    display: flex;
    align-items: center;
}

.number p{
    margin: 0px;
}


.timesopen{
    display: flex;
}

/*Contact Form*/

.contact_us_form{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

.contact_us_form img{
    height: 550px;
}


form h1{
    color: white;
    margin: auto;
    width: 50%
}

form p{
    color: white;
    margin: auto;
    width: 50%;
    font-size: 13px;
}

label{
    color: white;
}

.container{
    padding: auto;
}

.form-group{
    margin: auto;
    width: 50%;
}

form .btn{
    margin-left: auto;
    margin-top: 20px;
    font-size: 15px;
    width: 150px;
    font-family: "Avenir";
    background-color: pink;
    border-radius: 0px;
    color: black;
}

/* Footer */
.border{
    background-color: #FFDAE6;
    height: 40px;
}

.footer-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}

.column{
    display: flex;
    flex-direction: column;
}

.footerlink{
    margin: 10px;
    color: black;
    font-family: "Avenir";
}

.contactus img{
    margin: 10px;
}

.contactus{
    text-align: center;
}
