
h1{
    font-family: "Didot";
}

p{
    font-family: "Avenir";
}

/*Navigation*/
.navbar-brand img{
    width: 50px;
    margin-left: 30px;
}

.navbar li img{
    width: 20px;
}

.navbar li{
    display: flex;
    align-items: center;
    font-family: "Avenir";
    padding-left: 20px;
    padding-right:20px; 
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.collapse{
    display: flex;
    justify-content: center;
}

.navbar .nav-link{
    color: black !important;
    text-decoration: none;
    font-size: 15px;
}

.navbar .active .nav-link{
    color: #F2579A !important;
}

.navbar .nav-link:hover{
    color: #F2579A !important;
}

.badge {
    background-color: #FCC0D4 !important;
    border-radius: 5.25rem !important;
    color: black !important;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    z-index: 3;
}

/* Header */

.header{
    display: flex;
    align-items: center;

}

.header ul{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.header li{
    margin: 10px;
    font-family: "Avenir";
}

.herotext{
    display: flex;
    color: white;
    justify-content: space-around;
    width: 100vw;
    top: 30vh;
    left: 0;
    right: 0;
    bottom: 0;
     z-index: 1;
}


.header{
    background-image: url("../images/cupcakeheader.png");
    height: 300px;
    width: 100vw;
    background-position: center;
    background-size: cover;
}


.header .btn{
    margin-left: auto;
    margin-top: 20px;
    font-size: 15px;
    width: 180px;
    font-family: "Avenir";
    background-color: pink;
    border-radius: 0px;
    color: black;
}

.header .btn:hover{
    background-color:#F2579A;
}


/*Cart*/
/* Add to cart */
#cd-cart {
    position: fixed;
    top: 300;
    right: -100%;
    height: 100%;
    width: 400px;
    background-color: white;
    z-index: 5;
  
    /* header height */
    padding-top: 0px;
  
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  
    transition: right 0.3s;
  }
  
  #cd-cart.speed-in {
    right: 0;
  }
  
  
  #cd-cart > * {
    padding: 0 1em;
  }
  #cd-cart h2 {
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1em 0;
  }
  #cd-cart .cd-cart-items {
    padding: 0;
  }
  #cd-cart .cd-cart-items li {
    position: relative;
    padding: 1em;
    border-top: 1px solid #e0e6ef;
  }
  #cd-cart .cd-cart-items li:last-child {
    border-bottom: 1px solid #e0e6ef;
  }
  #cd-cart .cd-qty, #cd-cart .cd-price {
    color: #a5aebc;
  }
  #cd-cart .cd-price {
    margin-top: .4em;
  }
  #cd-cart .cd-item-remove {
    position: absolute;
    right: 1em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-image: url("../images/x.png");
    background-size: cover;
    background-position: center;
    height: 12px;
    width: 12px;
  }
  .no-touch #cd-cart .cd-item-remove:hover {
    background-color: #e0e6ef;
  }
  #cd-cart .cd-cart-total {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  #cd-cart .cd-cart-total span {
    float: right;
  }
  #cd-cart .cd-cart-total::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
  }
  #cd-cart .checkout-btn {
    font-family: "Avenir";
    display: block;
    margin: auto;
    width: 300px;
    height: 60px;
    line-height: 60px;
    color: black;
    text-align: center;
    border-color: black;
    border-width: 2px;
    border-style: solid;
  }
  .no-touch #cd-cart .checkout-btn:hover {
    background: #FCC0D4;
  }
  #cd-cart .cd-go-to-cart {
    text-align: center;
    margin: 1em 0;
  }
  #cd-cart .cd-go-to-cart a {
    text-decoration: underline;
  }
  @media only screen and (min-width: 1200px) {
    #cd-cart > * {
      padding: 0 2em;
    }
    #cd-cart .cd-cart-items li {
      padding: 1em 2em;
    }
    #cd-cart .cd-item-remove {
      right: 2em;
    }
  }
  
  /* -------------------------------- 
  
  xgallery 
  
  -------------------------------- */
  main {
    position: relative;
    min-height: 100%;
    background: #eeeff7;
    padding-top: 70px;
    z-index: 1;
  }
  @media only screen and (min-width: 768px) {
    main {
      padding-top: 90px;
    }
  }
  @media only screen and (min-width: 1200px) {
    main {
      padding-top: 120px;
    }
  }
  
  #cd-gallery-items li {
    margin-bottom: 1.5em;
  }
  #cd-gallery-items li img {
    width: 100%;
    display: block;
    border-radius: 0.25em;
  }
  @media only screen and (min-width: 768px) {
    #cd-gallery-items li {
      width: 48%;
      float: left;
      margin-bottom: 2em;
      margin-right: 4%;
    }
    #cd-gallery-items li:nth-child(2n) {
      margin-right: 0;
    }
  }
  @media only screen and (min-width: 1200px) {
    #cd-gallery-items li {
      width: 31%;
      float: left;
      margin-bottom: 2.5em;
      margin-right: 3.5%;
    }
    #cd-gallery-items li:nth-child(2n) {
      margin-right: 3.5%;
    }
    #cd-gallery-items li:nth-child(3n) {
      margin-right: 0;
    }
  }
  
  /*
  #cd-shadow-layer {
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(67, 87, 121, 0.6);
    cursor: pointer;
    z-index: 2;
    display: none;
  }
  #cd-shadow-layer.is-visible {
    display: block;
    -webkit-animation: cd-fade-in 0.3s;
    -moz-animation: cd-fade-in 0.3s;
    animation: cd-fade-in 0.3s;
  }
  
  
  -------------------------------- 
  
  xkeyframes 
  
  -------------------------------- */
  @-webkit-keyframes cd-fade-in {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes cd-fade-in {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  @keyframes cd-fade-in {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

/* Cupcake Nav */

.nav{
    background-color:#FFDAE6;
    justify-content:left;
    color: black; 
    height: 60px;
}

.nav .nav-link{
    color: black !important;
    font-family: "Avenir";
    margin-left: 30px;
    height: 35px;
    margin-bottom: 10px;
}

.nav .active .nav-link{
    border-bottom-style: solid;
    border-width: 1px;
}


/* Cupcake Grid */


.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .product img{
    transform: scale(1);
    transition: all .5s; 
  }
  
  .product:hover img{
    transform: scale(1.1);
    transition: all .5s;
  }
  
  .product:hover{
    color: #F2579A;
  }
  
  .product:hover a{
    color: #F2579A;
    text-decoration: none;
  }
  
  
  .product__image {
    display: block;
    min-height: 200px;
    width: 80%;
    margin: 60px;
  }
  
  .product__image img{
    width: 100%;
  }
  
  .product__name p{
    font-family: "Avenir";
    font-size: 16px;
    font-weight: bold;
  } 
  
  .product__name a{
    color: #000000;
    text-decoration: none;
  } 
  
  .product__price p{
    font-family: sans-serif;
    font-size: 14px;
  }


  /* Modal */
  p{
    font-family: "Avenir";
  }
  
  label{
    font-family: "Avenir";
    margin-bottom: 0;
  }
  
  h3{
    font-family: "Avenir";
  }
  .modal-body{display:flex;}
  
  .mybtn {
    font-family: "Avenir";
      width: calc(30% - 20px);
      float: left;
      display: inline-block;
      color: black;
      text-align: center;
      padding: 5px;
      box-sizing: border-box;
    margin: 10px;
    border-style: solid;
    border-width: thin;
    border-radius: 30px;
    border-color: black;
    font-size: 13px;
  }
  
  .mybtn:hover {
      opacity: 0.9;
  }
  
  .code {
      color:#23B14D;
      font-weight:700;
  }
  .left3 {
      width:40%;
      padding:0 10px 0 0;
      box-sizing:border-box;
      min-height:2px;
  }
  .right3 {
      width: 60%;
      padding: 0px;
      box-sizing: border-box;
      min-height: 310px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
  }
  
  .left3{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left3 img {
      width:80%;
      margin-top:0px;
  }
  
  input[type=text] {
    width: 40px;
    padding: 3px 0 0 0;
    text-align: center;
    border-radius: 0px;
    border-color: #B9B9B9;
    border-style: solid;
    border-width: 1px;
  }
  
  .dec  {
    margin: 7px;
    text-indent: -9999px;
    cursor: pointer;
    width: 29px;
    height: 29px;
    float: left;
    text-align: center;
    background: url("../images/minus.png") no-repeat;
    background-size: cover;
    border: none;
    background-position: center;
  }
  
  .form{
    display: flex;
    align-items: center;
  }
  
  .button:hover{
    cursor: pointer;
  }
  
  .inputvalue{
    display: flex;
    align-items: center;
    position: relative;
    top: 60px;
    left: -250px;
  }

  
  .modal-header{
    border-bottom: 0 none !important;
  }
  
  .inc  {
    margin: 7px;
    text-indent: -9999px;
    cursor: pointer;
    width: 29px;
    height: 29px;
    float: left;
    text-align: center;
    background: url("../images/plus.png") no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
  }
  
  .numbers-row{
    display: flex;
    align-items: center;
    width: 600px;
  }
  
  #priceeach{
      color: #6A6A6A;
      font-family: "Avenir";
  }
  
  .buttons {
    padding: 20px 0 0 140px;
  }
  
  .right3 p {
      margin:0;
  }
  .preventclose {
      position:fixed;
      top:0;
      width:100%;
      height:5px;
  }
  
  .price{
    font-size: 10px;
    margin: 20px;
    font-weight: bold;
    margin-left: 0px;
    border-color: #6A6A6A;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .price:hover{
      color:white;
      background-color: #6A6A6A;
  }

  .price:active{
    color:white;
    background-color: #6A6A6A; 
  }
  
  
  .addtocart{
    background-color:#FCC0D4;
    border: 0px;
    padding: 12px;
    font-family: "Avenir";
    width: 200px;
    margin: 15px;
    margin-left: 0px;
  }



  
  
  
  .endtext {
      padding: 10px;
      font-size: 13px;
      color: #999;
      font-weight: bold;
      margin-top: 21px !important;
      display: block;
      float: left;
  }
  
  .right3 p {
    padding:5px;
    padding-left: 0px;
      font-size:14px;
      text-align: justify
  }



  /*Delivery*/
  .delivery{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    height: 400px;
    overflow: hidden;
  }

  .deliveryinfo{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
  }

  .delimage img{
   height: 350px;
  }
  .delimage{
    margin-right: -50px;
  }

/* Footer */
.border{
    background-color: #FFDAE6;
    height: 40px;
}

.footer-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}

.column{
    display: flex;
    flex-direction: column;
}

.footerlink{
    margin: 10px;
    color: black;
    font-family: "Avenir";
}

.contactus img{
    margin: 10px;
}

.contactus{
    text-align: center;
}