
h1{
    font-family: "Didot";
}

p{
    font-family: "Avenir";
}

/*Navigation*/
.navbar-brand img{
    width: 50px;
    margin-left: 30px;
}

.navbar li img{
    width: 20px;
}

.navbar li{
    display: flex;
    align-items: center;
    font-family: "Avenir";
    padding-left: 20px;
    padding-right:20px;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.collapse{
    display: flex;
    justify-content: center;
}

.navbar .nav-link{
    color: black !important;
    text-decoration: none;
    font-size: 15px;
}

.navbar .active .nav-link{
    color: #F2579A !important;
}

.navbar .nav-link:hover{
    color: #F2579A !important;
}

/* Header */

.header{
    display: flex;
    align-items: center;

}

.header ul{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.header li{
    margin: 10px;
    font-family: "Avenir";
}

.herotext{
    display: flex;
    color: white;
    justify-content: space-around;
    width: 100vw;
    top: 30vh;
    left: 0;
    right: 0;
    bottom: 0;
     z-index: 1;
}


.header{
    background-image: url("../images/cupcakeheader.png");
    height: 300px;
    width: 100vw;
    background-position: center;
    background-size: cover;
}


.header .btn{
    margin-left: auto;
    margin-top: 20px;
    font-size: 15px;
    width: 180px;
    font-family: "Avenir";
    background-color: pink;
    border-radius: 0px;
    color: black;
}

/* Cupcake Nav */

.nav{
    background-color:#FFDAE6;
    justify-content:left;
    color: black; 
}

.nav .nav-link{
    color: black !important;
    font-family: "Avenir";
}

.nav .active .nav-link{
    text-decoration: underline;
}


/* Cupcake Grid */


.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .product img{
    transform: scale(1);
    transition: all .5s; 
  }
  
  .product:hover img{
    transform: scale(1.1);
    transition: all .5s;
  }
  
  .product:hover{
    color: #F2579A;
  }
  
  .product:hover a{
    color: #F2579A;
    text-decoration: none;
  }
  
  
  .product__image {
    display: block;
    min-height: 200px;
    width: 80%;
    margin: 20px;
  }
  
  .product__image img{
    width: 100%;
  }
  
  .product__name p{
    font-family: "Avenir";
    font-size: 16px;
    font-weight: bold;
  } 
  
  .product__name a{
    color: #000000;
    text-decoration: none;
  } 
  
  .product__price p{
    font-family: sans-serif;
    font-size: 14px;
  }


  /* Modal */
  p{
    font-family: "Avenir";
  }
  
  label{
    font-family: "Avenir";
    margin-bottom: 0;
  }
  
  h3{
    font-family: "Avenir";
  }
  .modal-body{display:flex;}
  
  .mybtn {
    font-family: "Avenir";
      width: calc(30% - 20px);
      float: left;
      display: inline-block;
      color: black;
      text-align: center;
      padding: 5px;
      box-sizing: border-box;
    margin: 10px;
    border-style: solid;
    border-width: thin;
    border-radius: 30px;
    border-color: black;
    font-size: 13px;
  }
  
  .mybtn:hover {
      opacity: 0.9;
  }
  
  .code {
      color:#23B14D;
      font-weight:700;
  }
  .left3 {
      width:40%;
      padding:0 10px 0 0;
      box-sizing:border-box;
      min-height:2px;
  }
  .right3 {
      width: 60%;
      padding: 0px;
      box-sizing: border-box;
      min-height: 310px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
  }
  
  .left3{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left3 img {
      width:80%;
      margin-top:0px;
  }
  
  input[type=text] {
    width: 40px;
    padding: 3px 0 0 0;
    text-align: center;
    border-radius: 0px;
    border-color: #B9B9B9;
    border-style: solid;
    border-width: 1px;
  }
  
  .dec  {
    margin: 7px;
    text-indent: -9999px;
    cursor: pointer;
    width: 29px;
    height: 29px;
    float: left;
    text-align: center;
    background: url("../images/minus.png") no-repeat;
    background-size: cover;
    border: none;
    background-position: center;
  }
  
  .form{
    display: flex;
    align-items: center;
  }
  
  .button:hover{
    cursor: pointer;
  }
  
  .inputvalue{
    display: flex;
    align-items: center;
    position: relative;
    top: 50px;
    left: -265px;
  }
  
  .modal-header{
    border-bottom: 0 none !important;
  }
  
  .inc  {
    margin: 7px;
    text-indent: -9999px;
    cursor: pointer;
    width: 29px;
    height: 29px;
    float: left;
    text-align: center;
    background: url("../images/plus.png") no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
  }
  
  .numbers-row{
    display: flex;
    align-items: center;
    width: 100%
  }
  
  
  .buttons {
    padding: 20px 0 0 140px;
  }
  
  .right3 p {
      margin:0;
  }
  .preventclose {
      position:fixed;
      top:0;
      width:100%;
      height:5px;
  }
  
  .price{
    font-size: 10px;
    margin: 20px;
    font-weight: bold;
    margin-left: 0px;
  }
  
  
  .addtocart{
    background-color:#FCC0D4;
    border: 0px;
    padding: 12px;
    font-family: "Avenir";
    width: 200px;
    margin: 15px;
    margin-left: 0px;
  }
  
  
  
  .endtext {
      padding: 10px;
      font-size: 13px;
      color: #999;
      font-weight: bold;
      margin-top: 21px !important;
      display: block;
      float: left;
  }
  
  .right3 p {
    padding:5px;
    padding-left: 0px;
      font-size:14px;
      text-align: justify;
  }

/* Footer */
.border{
    background-color: #FFDAE6;
    height: 40px;
}

.footer-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}

.column{
    display: flex;
    flex-direction: column;
}

.footerlink{
    margin: 10px;
    color: black;
    font-family: "Avenir";
}

.contactus img{
    margin: 10px;
}

.contactus{
    text-align: center;
}