
h1{
    font-family: "Didot";
}

p{
    font-family: "Avenir";
}

/*Navigation*/
.navbar-brand img{
    width: 50px;
    margin-left: 30px;
}

.navbar li img{
    width: 20px;
}

.navbar li{
    display: flex;
    align-items: center;
    font-family: "Avenir";
    padding-left: 20px;
    padding-right:20px;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.collapse{
    display: flex;
    justify-content: center;
}

.navbar .nav-link{
    color: black !important;
    text-decoration: none;
    font-size: 15px;
}

.navbar .active .nav-link{
    color: #F2579A !important;
}

.navbar .nav-link:hover{
    color: #F2579A !important;
}

/* Header */

.header{
    display: flex;
    align-items: center;

}

.header ul{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.header li{
    margin: 10px;
    font-family: "Avenir";
}

.herotext{
    display: flex;
    color: white;
    justify-content: space-around;
    width: 100vw;
    top: 30vh;
    left: 0;
    right: 0;
    bottom: 0;
     z-index: 1;
}


.header{
    background-image: url("../images/cupcakeheader.png");
    height: 300px;
    width: 100vw;
    background-position: center;
    background-size: cover;
}


.header .btn{
    margin-left: auto;
    margin-top: 20px;
    font-size: 15px;
    width: 180px;
    font-family: "Avenir";
    background-color: pink;
    border-radius: 0px;
    color: black;
}

/* Cupcake Nav */

.nav{
    background-color:#FFDAE6;
    justify-content:left;
    color: black; 
}

.nav .nav-link{
    color: black !important;
    font-family: "Avenir";
}

.nav .active .nav-link{
    text-decoration: underline;
}


/* Cupcake Grid */

.product-grid{
    font-family: "Avenir";
    text-align: center;
    overflow: hidden;
    margin-top: 184px;
    height: 300px;

}

.col-md-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
}

.col-md-3:hover{
    color:#F2579A;
}

.col-md-3:hover a{
    color:#F2579A;
}

.product-grid:before{
    content:'';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.product-grid{
    transform: scale(1);
    transition: all .5s; 
}

.product-grid:hover{
    transform: scale(1.1);
    transition: all .5s;
}

.product-grid .product-image{
    overflow: hidden;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
}

.product-content{
    text-align: center;
    font-family: "Avenir";
    font-size: 14px;
    margin-top: -50px;
}

.product-content a{
    color: black;
    font-size: 20px;
}

.product-grid .product-image a{
    display: block;
}

.product-grid .product-image img{
    width: 100%;
    height: auto;
}




/* Footer */
.border{
    background-color: #FFDAE6;
    height: 40px;
}

.footer-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}

.column{
    display: flex;
    flex-direction: column;
}

.footerlink{
    margin: 10px;
    color: black;
    font-family: "Avenir";
}

.contactus img{
    margin: 10px;
}

.contactus{
    text-align: center;
}