
h1{
    font-family: "Didot";
}

p{
    font-family: "Avenir";
}

/* Covid Header */
.importantnews{
    display: flex;
    align-items: center;
    background-color: #FFDAE6;
    height: 50px;
    color: black;
    font-size: 11px;
}

.importantnews p{
    margin: auto;
}

/*Navigation*/
.navbar-brand img{
    width: 50px;
    margin-left: 30px;
}

.navbar li img{
    width: 20px;
}

.navbar li{
    display: flex;
    align-items: center;
    font-family: "Avenir";
    padding-left: 20px;
    padding-right:20px;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.collapse{
    display: flex;
    justify-content: center;
}

.nav-link{
    color: black !important;
    text-decoration: none;
    font-size: 15px;
}

.active .nav-link{
    color: #F2579A !important;
}

.nav-link:hover{
    color: #F2579A !important;
}

/*Jumbotron*/

main{
    width: 100%;
    overflow: hidden;
  }

  .hero{
    width: 100%;
    max-width: 100vw;
    text-align: center;
    margin: 0 auto;
    position: relative; 
  }

  .hero h1{
    font-size: 50px;
    width: 400px;
    height: 200px;
    margin-left:auto;
    margin-right: auto;
    position: absolute; 
    top: 10vh;
    left: 0;
    right: 40px;
    bottom: 0;
    z-index: 1;
    color: white;
    font-family: "Didot";
    text-align: left;
  }
  .hero p{
    font-size: 16px;
    width: 430px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    position: absolute; 
    top: 30vh;
    left: 0;
    right: 0px;
    bottom: 0;
     z-index: 1;
    color: white;
    font-family: "Avenir";
    text-align: left;
  }

  .hero img{
    width: 100vw;
  }

.hero .btn{
    margin-left: auto;
    margin-top: 20px;
    font-size: 15px;
    width: 150px;
    font-family: "Avenir";
    background-color: pink;
    border-radius: 0px;
    color: black;
}

/* Slider */

.slider {
    height: 200px;
    width: 100vw;
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 60px;
  }
  .slide {
    width: 260px;
    flex-shrink: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:"Didot";
  }

  .slide img{
      height: 100%;
      padding: 10px;
  }

  /*Sections*/

.break{
    height: 300px;
    background-image: url("../images/cuttingboard.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#111113;
    color: white;
}

.section1 img{
    height: 400px;
    margin: 50px;
    margin-right: 0px;
}

.content{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.centercard .btn{
    border-radius: 0px;
    border-color: black;
    color: black;
    background-color: white;
    font-size: 15px;
    width: 150px;
    font-family: "Avenir";
}

.section2{
    display: flex;
    justify-content: center;
    background-image: url("../images/bakingtools.png");
    background-position: center;
}

.centercard{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 50px;
    margin: 100px;
    text-align: center;
    box-shadow: 5px 10px 40px #111113b7;
}

.section3{
    display: flex;
    align-items: center;
}

.section3 img{
    width:100vw;
}

.section3 p{
    position: absolute;
    width: 450px;
    color: white;
    margin-left: 60px;
}

/* Footer */
.border{
    background-color: #FFDAE6;
    height: 40px;
}

.footer-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}

.column{
    display: flex;
    flex-direction: column;
}

.footerlink{
    margin: 10px;
    color: black;
    font-family: "Avenir";
}

.contactus img{
    margin: 10px;
}

.contactus{
    text-align: center;
}

