/*Globals*/
h1{
    font-family: "Didot";

}

h2 {
    font-family: "Avenir";
}

h3 {
    font-family: "Avenir";

}

p{
    font-family: "Avenir";
    font-size: 16px;
}

button.pinkBtn { 
    margin-top: 20px;
    font-size: 15px;
    width: 150px;
    font-family: "Avenir";
    background-color: pink;
    border: none;
    border-radius: 0;
    color: #111113;
}

button.pinkBtn:hover {
    background-color: #F2579A;
    
}

button.whiteBtn{
    border-color: #F6F6F6;
    color: #F6F6F6;
    background-color:#111113;
    font-size: 15px;
    width: 150px;
    font-family: "Avenir";
    border-radius: 0;
}

button.whiteBtn:hover {
    background-color: #F6F6F6;
    color: #111113;
}


/*Navigation*/
.logo{
    width: 60px;
}

.navbar li{
    display: flex;
    align-items: center;
    font-family: "Avenir";
    padding-left: 40px;
    padding-right:40px;
}



.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.collapse{
    display: flex;
    justify-content: center;
}

.nav-link{
    color: #111113 !important;
    text-decoration: none;
    font-size: 16px;
}

.active .nav-link{
    color: #F2579A !important;
}

.nav-link:hover{
    color: #F2579A !important;
}



/* Add to cart */
#cd-cart {
    position: fixed;
    top: 70px;
    right: -100%;
    height: 100%;
    width: 400px;
    background-color: white;
    z-index: 5;
  
    /* header height */
    padding-top: 0px;
  
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  
    transition: right 0.3s;
  }
  
  #cd-cart.speed-in {
    right: 0;
  }
  
  
  #cd-cart > * {
    padding: 0 1em;
  }
  #cd-cart h2 {
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1em 0;
  }
  #cd-cart .cd-cart-items {
    padding: 0;
  }
  #cd-cart .cd-cart-items li {
    position: relative;
    padding: 1em;
    border-top: 1px solid #e0e6ef;
  }
  #cd-cart .cd-cart-items li:last-child {
    border-bottom: 1px solid #e0e6ef;
  }
  #cd-cart .cd-qty, #cd-cart .cd-price {
    color: #a5aebc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  #cd-cart .cd-price {
    margin-top: .4em;
  }
  #cd-cart .cd-item-remove {
    position: absolute;
    right: 1em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-image: url("../images/x.png");
    background-size: cover;
    background-position: center;
    height: 12px;
    width: 12px;
  }
  .no-touch #cd-cart .cd-item-remove:hover {
    background-color: #e0e6ef;
  }
  #cd-cart .cd-cart-total {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  #cd-cart .cd-cart-total span {
    float: right;
  }
  #cd-cart .cd-cart-total::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
  }
  #cd-cart .checkout-btn {
    font-family: "Avenir";
    display: block;
    margin: auto;
    width: 300px;
    height: 60px;
    line-height: 60px;
    color: black;
    text-align: center;
    border-color: black;
    border-width: 2px;
    border-style: solid;
  }
  .no-touch #cd-cart .checkout-btn:hover {
    background: #FCC0D4;
  }
  #cd-cart .cd-go-to-cart {
    text-align: center;
    margin: 1em 0;
  }
  #cd-cart .cd-go-to-cart a {
    text-decoration: underline;
  }
  @media only screen and (min-width: 1200px) {
    #cd-cart > * {
      padding: 0 2em;
    }
    #cd-cart .cd-cart-items li {
      padding: 1em 2em;
    }
    #cd-cart .cd-item-remove {
      right: 2em;
    }
  }
  
  /* -------------------------------- 
  
  xgallery 
  
  -------------------------------- */


  #cd-gallery-items li {
    margin-bottom: 1.5em;
  }
  #cd-gallery-items li img {
    width: 100%;
    display: block;
    border-radius: 0.25em;
  }
  @media only screen and (min-width: 768px) {
    #cd-gallery-items li {
      width: 48%;
      float: left;
      margin-bottom: 2em;
      margin-right: 4%;
    }
    #cd-gallery-items li:nth-child(2n) {
      margin-right: 0;
    }
  }
  @media only screen and (min-width: 1200px) {
    #cd-gallery-items li {
      width: 31%;
      float: left;
      margin-bottom: 2.5em;
      margin-right: 3.5%;
    }
    #cd-gallery-items li:nth-child(2n) {
      margin-right: 3.5%;
    }
    #cd-gallery-items li:nth-child(3n) {
      margin-right: 0;
    }
  }
  
  /*
  #cd-shadow-layer {
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(67, 87, 121, 0.6);
    cursor: pointer;
    z-index: 2;
    display: none;
  }
  #cd-shadow-layer.is-visible {
    display: block;
    -webkit-animation: cd-fade-in 0.3s;
    -moz-animation: cd-fade-in 0.3s;
    animation: cd-fade-in 0.3s;
  }
  
  
  -------------------------------- 
  
  xkeyframes 
  
  -------------------------------- */
  @-webkit-keyframes cd-fade-in {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes cd-fade-in {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  @keyframes cd-fade-in {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }



/*Jumbotron*/



main{
  
    background-color: #111113;
    background-image: url("../images/drip.jpg");
    background-repeat: no-repeat;
    height: 90vh;
    background-position-x: right;
   background-size: 80vh;
   position: relative;
  }

  .dripImg {
      height: 115vh;
  }

  .hero{
    width: 100%;
    text-align: center;
    display: flex;
  }

  .herotext {
    color: #F6F6F6;
    text-align: left;
    position: absolute;
    margin-top: 30vh;
    margin-left: 75vh;
  }

  .hero h1{
    font-size: 60px;
  }

  .hero p{
    font-size: 16px;
    width: 60%;
    padding-top: 10px;
  }

/* Covid Header */
.importantnews{
    text-align: center;
    color: #111113;
    margin-top: 5%;
}
.importantnews h2 {
    padding-top: 20px;
    font-size: 28px;
    color: #F2579A
}

.importantnews p{
    padding: 20px 150px 60px 150px;
}

.boldText {
    font-weight: bold;
}




  /*Sections*/

.break{
    height: 300px;
    background-image: url("../images/cuttingboard.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Delivery Section */
.section1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#111113;
    color: #F6F6F6;
}

.deliveryImg {
    margin: 80px;
    width: 100%;
}

.delivery h3 {
    font-size: 28px;
    margin-top: 35px;
    color: pink;
}


.map{
    background-image: url("../images/map.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 420px;
}

.banner {
    width: 200px;
    position: relative;
    margin-top: 2%;
}

.deliveryImgText {
    border: 2px solid #F6F6F6;
    padding: 15px;
    text-align: center;
}
.deliveryImgText h2 {
    font-size: 28px;

}


.content{
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}




/* Cupcake Section */
.cupcakeHead {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}

.cupcakeLink a {
    color: #F2579A;
    text-decoration: underline;
}

.slider {
    height: 100%;
    width: 100vw;
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 80px;
  }
  .slide {
    width: 260px;
    flex-shrink: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
  }

.slideImg {
    padding-bottom: 10px;
}


/* Special */
.section2{
    display: flex;
    justify-content: center;
    background-image: url("../images/specialDisplay2.png");
    background-position: center;
}

.centercard{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    padding: 100px 150px 100px 150px;
    margin: 100px;
    text-align: center;
    box-shadow: 5px 10px 40px #111113b7;
}

.centercard h1 {
    margin-bottom: 30px;
}

/* Story */
.section3{
    display: flex;
    align-items: center;
}

.section3 img{
   width: 100%;
}

.storyText{
    position: absolute;
    width: 450px;
    color: #F6F6F6;
    margin-left: 60px;
}

.storyText p {
    margin-top: 30px;
    margin-bottom: 30px;
}


/* Footer */
.pinkBorder{
    background-color: pink;
    height: 40px;
    border: none;
}

.footer-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}

.column{
    display: flex;
    flex-direction: column;
}

.footerlink{
    margin: 10px;
    color: #111113;
    font-family: "Avenir";
}

.contactus img{
    margin: 10px;
}

.contactus{
    text-align: center;
}

